<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>US Quiz (Express)</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="text-center">

  <h1 class="jumbotron"> US Geography Quiz <br> Express Version </h1>

  <h3><span id="markImg1"></span> What is the capital of California?</h3>
  <input type="text" id="q1">
  <br><br>
  <div id="q1Feedback"></div>
  <br>

  <h3><span id="markImg2"></span>What is the longest river?</h3>
    <select id="q2">
        <option value="">Select One</option>
        <option value="ms">Mississippi</option>
        <option value="mo">Missouri</option>
        <option value="co">Colorado</option>
        <option value="de">Delaware</option>
    </select>
    <br><br>
  <div id="q2Feedback"></div>
  <br>

    <h3><span id="markImg3"></span>What presidents are carved into mount Rushmore?</h3>
    <input class="president" type="checkbox" id="Jackson">   <label for="Jackson"> A. Jackson</label>
    <input class="president" type="checkbox" id="Franklin">  <label for="Franklin">B. Franklin</label>
    <input class="president" type="checkbox" id="Jefferson"> <label for="Jefferson">T. Jefferson</label>
    <input class="president" type="checkbox" id="Roosevelt"> <label for="Roosevelt">T. Roosevelt</label>
    <br><br>
    <div id="q3Feedback"></div>
    <br>

	<h3><span id="markImg4"></span>What is the smallest US state?</h3>
	<select id="q4Choices">
      <option>Select one</option>
    </select>
    <br><br>
    <div id="q4Feedback"></div>
    <br>

    <h3><span id="markImg5"></span>Which is the correct seal of California?</h3>
    <img src="/img/seal1.png" alt= "seal1" class="q5choice" id="seal1">
    <img src="/img/seal2.png" alt= "seal2" class="q5choice" id="seal2">
    <img src="/img/seal3.png" alt= "seal3" class="q5choice" id="seal3">

	<br><br>
    <div id="q5Feedback"></div>
    <br>

  <h3><span id="markImg6"></span>Who is the current President of the United States?</h3>
    <select id="q6">
      <option value="">Select One</option>
      <option value="bo">Barack Obama</option>
      <option value="dt">Donald Trump</option>
      <option value="hc">Hillary Clinton</option>
      <option value="bs">Bernie Sanders</option>
    </select>

  <br><br>
  <div id="q6Feedback"></div>
  <br>

  <h3><span id="markImg7"></span>In which state is Disneyworld located?</h3>
  <input type="text" id="q7">
  <br><br>
  <div id="q7Feedback"></div>
  <br>

  <h3><span id="markImg8"></span>Which are political parties of the United States?</h3>
  <input class="party" type="checkbox" id="Democrat">   <label for="Democrat">Democrat</label>
  <input class="party" type="checkbox" id="Republican">  <label for="Republican">Republican</label>
  <input class="party" type="checkbox" id="Green"> <label for="Green Party">Green Party</label>
  <br><br>
  <div id="q8Feedback"></div>
  <br>



    <button class="btn btn-outline-success submit"> Submit Quiz </button>
    <br><br>

    <h2 id="totalScore" class="text-info"></h2>
    <h3 id="congrats"></h3>

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>

     <script>
       $(document).ready(function(){
         let q5guess = "";
         let score = 0;

         displayQ4Choices();

         function displayQ4Choices() {
           let q4ChoicesArray = ["Maine", "Rhode Island", "Maryland", "Deleware"];
           q4ChoicesArray = _.shuffle(q4ChoicesArray);

           for (let i = 0; i < q4ChoicesArray.length; i++) {
             // $("#q4Choices").append(`<input type="radio" name="q4" id=${q4ChoicesArray[i]} value="${q4ChoicesArray[i]}"> <label for="${q4ChoicesArray[i]}"> ${q4ChoicesArray[i]}</label>`);
             $("#q4Choices").append(`<option>${q4ChoicesArray[i]}</option>`)
           }
         }

         function isFormValid(guesses) {
           for (let value of Object.values(guesses)) {
             if (!value) {
               return false;
             }
           }

           return true;
         }

         function rightAnswer(index) {
           $(`#q${index}Feedback`).html("Correct!");
           $(`#q${index}Feedback`).attr("class", "bg-success text-white");
           $(`markImg${index}`).html("<img src='img/checkmark.png");
           score+= 12.5;
         }

         function wrongAnswer(index) {
           $(`#q${index}Feedback`).html("Incorrect!");
           $(`#q${index}Feedback`).attr("class", "bg-warning text-white");
           $(`markImg${index}`).html("<img src='img/xmark.png");
         }

         //Event Listeners
         $(".q5choice").on("click", function(){
         	$(".q5choice").css("background-color",""); //resets background color
         	$(this).css("background-color","rgb(255, 255, 0)");
         	q5guess = $(this)[0].id;
         })

         $(".submit").on("click touchstart", function(e) {
           score = 0;
           $("#congrats").html("");

           let guesses = {
             q1guess: $("#q1").val().toLowerCase(),
             q2guess: $("#q2").val().toLowerCase(),
             q3guess: $("input.president:checked").map(
               (_dummy, el) => el.id
             ),
             q4guess: $("#q4Choices option:selected").text(),
             q5guess,
             q6guess: $("#q6").val().toLowerCase(),
             q7guess: $("#q7").val().toLowerCase(),
             q8guess: $("input.party:checked").map(
               (_dummy, el) => el.id
             )
           }

           if (isFormValid(guesses)) {
             $.ajax ({
               url: "/check_answers",
               method: "POST",
               data: JSON.stringify(guesses),
               success: function(result) {
                 for (let i = 1; i <= 8; i++) {
                   if (result[`q${i}`]) {
                     rightAnswer(i)
                   }
                   else {
                     wrongAnswer(i)
                   }
                 }

                 $("#totalScore").html(`Total Score: ${score}`);

                 if (score >= 80) {
                   $("#congrats").html("Congrats!")
                 }
               },
               error: function(xhr, status) {
                 console.log('error calling to POST router', status);
               },
               complete: function() {

               }
             }); // ajax
           }
         });

       })//ready
     </script>

</body>
</html>

